@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgba: 2, 0, 36, 1;
  --background-mid-rgba: 47, 0, 66, 1;
  --background-end-rgba: 0, 86, 103, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgba: 2, 0, 36, 1;
    --background-mid-rgba: 47, 0, 66, 1;
    --background-end-rgba: 0, 86, 103, 1;
  }
}

body {
  color: rgb(var(--foreground-rgb));

  background: linear-gradient(
    135deg,
    rgba(var(--background-start-rgba)) 0%,
    rgba(var(--background-mid-rgba)) 0%,
    rgba(var(--background-end-rgba)) 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
